.movie__component{
    position:relative;  
}

.movie__wrapper__small{
    position:relative;
    cursor: pointer;
    z-index:2;
    border-radius: 5px;
    width: 290px;
}

.movie__wrapper__small > img{
  border-radius: 5px;
}

.movie__wrapper__large{
    transition:transform 0.2s linear;
    position:relative;
    transform:translateY(-10px) scale(1.1);
    z-index: 10;
    cursor: pointer; 
    border-radius: 5px;
    width: 290px;
   
}

.movie__img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:166px;
    width: 100%;
    object-fit:cover;
    cursor: pointer;
}

.audio__icn{
    position: absolute;
    right:0;
    z-index:9999;
    display:flex;
    flex-direction:row-reverse;
}

.movie__video{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:160px;
    width: 100%;
    object-fit:cover;
    cursor: pointer;
    background-image:url('https://i.pinimg.com/originals/a2/dc/96/a2dc9668f2cf170fe3efeb263128b0e7.gif');
    background-size: cover;
    background-position: center;
}


.movie__content{
    padding: 0 15px;
    position:relative;
    z-index:30;
    box-shadow: 0px -5px 2px 1px rgba(27,37,48,1);
    -webkit-box-shadow: 0px -5px 2px 1px rgba(27,37,48,1);
    -moz-box-shadow: 0px -5px 2px 1px rgba(27,37,48,1);
    background:#1b2530;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.play__span{
    transition:0.2s ease-out;
    display: flex;
    align-items: center;
    padding: 3px;
    width:fit-content;
    position: relative;
    background-color: #000;
    border-radius: 50%;
    border:2px solid white;
}

.play__span:hover{
    background-color: #2895c1;
    border:2px solid #1b2530;
}

.icon__row{
    display: flex;
    justify-content: space-between;
}

.icons__left,.icons__right{
    display: flex;
    align-items: center;
}

.icn__span,.speaker__icn{
    transition:0.2s ease-out;
    display: flex;
    align-items: center;
    padding: 1px;
    width:fit-content;
    position: relative;
    border-radius: 50%;
    margin-left: 4px;
    z-index: 5;
}



.icn__span:hover{
  background-color: rgba(0, 0, 0, 0.433);
}

.speaker__icn:hover{
    background-color: rgba(0, 0, 0, 0.733);
}

.plus__icn{
    height: 30px !important;
    width: 30px !important;
}

.block__icn{
    margin: 3px;
    height: 25px !important;
    width: 25px !important;
}
.notes__icn{
    margin: 5px;
    height: 20px !important;
    width: 20px !important;
}

.content__row{
    margin-top: 10px;
}

.movie__title{
    font-style: 16px;
}

.movie__description{
    font-size: 14px;
    margin-bottom: 0;
}

.movie__numericals{
    padding-top: 6px;
    display: flex;
    font-size: 13px;
    padding-bottom: 8px;
}

.movie__numericals > span{
    margin-right: 10px;
    margin-bottom: 10px;
}

.video__overlay{
    position: absolute;
    z-index:15;
    background-color: rgba(0, 0, 0, 0.281);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.media__type{
  text-transform: capitalize;
}


.movie__content__overlay,.icon__row__content__overlay{
    position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
