.detailed{
    padding-top: 65px;
    position:relative;
    overflow-y: auto;
    overflow-x:hidden;
    width:100%;
    height: 100vh;
    
}

.detailed::-webkit-scrollbar{
    width: 7px;
}

.detailed::-webkit-scrollbar-track{
    background-color: #1a242f;
}

.detailed::-webkit-scrollbar-thumb{
    background-color: #508aa5;
    border-radius: 20px;
}


.detailed__content{
    position: relative;
    z-index: 2;
    font-size: 18px;
    /* padding: 40px; */
    /* width:45%; */
    /* min-width:500px; */
}

.background__overlay{
    opacity:0.4;
    height: 80vh;
    width:100%;
    position:absolute;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 45vw -9px 67px 2px #0f171e inset;
-webkit-box-shadow: 45vw -9px 67px 2px #0f171e inset;
-moz-box-shadow: 45vw -9px 67px 2px #0f171e inset;
}

.detailed__icons{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.detailed__icn__span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: rgba(98, 150, 209, 0.418);
    border-radius: 50%;
}
.detailed__icn__span:hover{
    background-color: rgba(98, 150, 209, 0.692);
}

.detailed__icn__watchlist{
    padding: 4px;
    height: 45px !important;
    width: 45px !important; 
}

.detailed__icn__speaker{
    padding: 9px;
    height: 45px !important;
    width: 45px !important; 
}


.detailed__btn{
    cursor: pointer;
    border:none;
    outline:none;
}

.detailed__btn > strong{
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.detailed__btn:focus{
    border:none;
    outline:none;
}

.detailed__play__icn{
    height: 40px !important;
    width: 40px !important;
    margin-right:5px;
}

.details__info__item{
    color:rgb(148, 197, 209);
    font-size: 18px;
    font-weight:500;
}

.detailed__recomendations__title{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.detailed__bg__mobile{
    background-position: center;
    background-size: cover;
    box-shadow: -10px -78px 44px 14px #0f171e inset;
    -webkit-box-shadow: -10px -78px 44px 14px #0f171e inset;
    -moz-box-shadow: -10px -78px 44px 14px #0f171e inset;
}