body{
    overflow-y: auto;
    overflow-x:hidden;
    width:100vw;
    height:100vh;
    background-color: #0f171e;
    color:white;
    user-select: none;
}


.btn{
    outline:none !important;
    border:none !important;
    cursor: pointer;
}

.btn:focus,.btn:active{
    outline:none !important;
    border:none !important;
}

